html {
  font-family: arial;
  font-size: 17px;
}

body {
  line-height: 1.5;
  letter-spacing: 0.025rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;

  text-transform: lowercase;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.075rem;
}

p {
  margin-top: 0;
  color: #4a4752;
}

.main {
  padding: 3rem;
}

.heading {
  margin-bottom: 25px;
}
.heading__name {
  margin: 0;
}
.heading__title {
  color: #b3b3b3;
}

.content > div{
  margin-bottom: 2rem;
}

.toggl {
  color: #cb171f;
}
