html {
  font-family: arial;
  font-size: 17px;
}

body {
  line-height: 1.5;
  letter-spacing: 0.025rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;

  text-transform: lowercase;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.075rem;
}

p {
  margin-top: 0;
  color: #4a4752;
}

hr {
  max-width: 300px;
  margin: 1.5em 0;
}

a, a:visited {
  color: #4ec3ff;
  text-decoration: underline;
}

.main {
  padding: 3rem;
}

.heading {
  margin-bottom: 25px;
}
.heading__name {
  margin: 0;
}
.heading__title {
  color: #b3b3b3;
}

.content > div {
  margin-bottom: 2rem;
}

.list-portfolio {
  list-style: none;
  padding: 0;
}

.portfolio__item {

}

.portfolio__item__title {
  display: block;
  text-decoration: underline;
  font-size: 1.2rem;
}
.portfolio__item__date {
  font-size: 0.8rem;
  position: relative;
  top: -5px;
  color: lightslategray;
}
.portfolio__item_text {
  font-size: 16px;
}


.link--toggl, .link--toggl:visited {
  color: #cb171f;
}
